body {
    margin: 0;
    padding: 0;
    background: url(../img/noise.png);

    font-family: proxima-nova, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: rgb(72, 72, 72);
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    font-size: 1.8em;
}

.demo {
    border: 5px solid rgba(0, 0, 0, 0.5);
    margin: 5px;
}

#image-demo img {
    min-height: 1200px;
    min-width: 1200px;
}

#html-demo .element-pan div {
    background: rgba(0, 0, 0, 0.15);
    border: 1px dashed #000;
    margin: 5px;
    text-indent: 10px;
}

#map-demo img {
    width: 4000px;
    min-height: 3400px;
}

.element-pan {
    height: 400px;
}

@media (max-width: 480px) {
    .element-pan {
        height: 300px;
    }

    .demo {
        width: 90%;
        margin: 0 auto;
    }

    h1, h2 {
        text-align: center;
    }

    p {
        padding: 0 5px;
    }
}